{% extends 'main/layout.html' %} <!-- указываем от какго файла наследуем шаблонизатор джинжа -->

{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Distinctio dolore expedita facilis harum iusto maxime nemo
            nihil, nisi nulla numquam omnis quam quas
            quasi quibusdam recusandae sapiente sequi ullam velit.</p>
    </div>
{% endblock %}