/*----------ОБНУЛЕНИЕ-------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/*------------------------*/



.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}

main .features{
    margin: 30px;
}
main .features h1{
    padding-left: 40px;
    padding-bottom: 30px;
    font-size: 30px;
}
main .features p{
    font-size: 20px;
}

main .news-blog h3{
    font-size: 25px;
}
main .news-blog{
    background-color: #e4f0ef;
    display-block: inline;
    float: left;
    width: 40%;
    height: 300px;
    border: solid #5b5b5b 5px;
    padding: 20px 20px;
    margin: 0px 10px 10px 10px;
}
form input{
    font-size: 15px;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form textarea{
    font-size: 15px;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form button{
    font-size: 15px;
    width: 40%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
